body {
  margin: 0;
  left: 0;
  background-color: hsl(0 0 0%);
  font-family: sans-serif;
  color: white;
}

h1 {
  color: hsl(0 0% 90%);
  font-size: 2.3rem;
}
h2 {
  color: hsl(0 2% 98%);
  font-size: 1.7rem;
}
h3 {
  color: hsl(0 0% 99%);
  font-size: 1.2rem;
}
h4 {
  color: hsl(0 0% 99%);
  font-size: 1.2rem;
  font-weight: 400;
}
p {
  font-size: 1rem;
  color: hsl(0 0% 82%);
}
.hero {
}
header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-bottom: solid hsl(0 0% 7%) 2px;
  align-items: center;
}
.header-sub {
  display: grid;
  align-items: center;
  justify-content: center;
}
.projects{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
}

.projects-sub-up {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
}
.project-title-up {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
.project-sub {
  display: grid;
  justify-content: center;
  padding: 2rem;
  background-color: hsl(0 0% 10%);
  border-radius: 0.5rem;
}
.project-sub:hover {
  scale: 101%;
}
.article-format{
  display: grid;
  margin-left: 20rem;
  margin-right: 20rem;
}
.article-format-top-info{
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-direction: row;
}
@media (max-width: 900px) {
    .hero{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
    }
    .hero-right img{
        display: none;
    }
    .article-format{
      margin-left: 1rem;
      margin-right: 1rem;
    }
  .projects-sub-up {
    grid-template-columns: 1fr;
  }
}
